<div class="jumbotron mt-4">
    <h1 class="display-4">APP TDEA - CURSO NODE JS</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quisquam et, quaerat quibusdam aliquam esse.</p>
    <a href="http://virtual.tdea.edu.co" class="btn btn-primary btn-lg">Tecnologico de Antioquia</a>
</div>

