<div id="chat-container">
    <div id="chat-window">
        <div id="output">

        </div>
        <div id="actions"></div>
    </div>
    <input  id="username" placeholder="Username">
    <input  id="message" placeholder="Message">
    <button class="btn btn-primary btn-block" id="send">Send</button>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>